@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components{
    .card{
        @apply bg-gray-800 w-52 h-20 grid place-content-center rounded-lg text-white font-bold border-2 border-black text-4xl;
    }
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  
  ::-webkit-scrollbar-track {
    background-color: rgb(31, 41, 55);
  }